<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!-- <%- include('./common/head') -%> -->
    {{include './common/head.html'}}
    
    <h2 class="title">这是首页</h2>

    <!-- <p><%= title %></p> -->
    <p>{{ title }}</p>

    <!-- <p>作者：<%= author %></p> -->
    <p>作者：{{ author }}</p>
    <br>
    <br>
    <div>
        <form action="/doLogin" method="POST">
            用户名： <input type="text" name="username">
            <br>
            <br>
            密  码： <input type="password" name="password">
            <br>
            <br>
            <input type="submit" value="提交">
            <br>
        </form>
    </div>
</body>
</html>